.page{
  height: 100vh;
    
}
.page-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
}
.page-body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    grid-gap: 15px;
    width: 100%;
}
.page-contnet{
    display: flex;
    align-items: center;
    justify-content: center;
}
.no-data{
    text-align: center;
}
@media(max-width: 900px) {
    .page-body{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        grid-gap: 15px;
    }
}
@media(max-width: 500px) {
    .page-body{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
        grid-gap: 15px;
    }
}